:root{
    --ff-mukta:'Mukta', sans-serif;
    --ff-nautigal:'The Nautigal', cursive;

    --fw-400: 400;
    --fw-700:700;

    --col-bg:rgb(205, 223, 226);
    --col-accent:rgb(115, 178, 236);
    --col-primary:rgb(37, 113, 228);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--col-bg);
}

.not-displayed{
    display: none;
}

.section-title{
    position: relative;
    text-align: center;
    font-family: var(--ff-mukta);
    font-weight: var(--fw-700);
    font-size: clamp(1rem,2.5rem,3rem);

}

.section-title::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: 10px;
    background-color: black;
    transform: width .25ms ease-in;
    transform-origin: left;
}

.section-title:hover::before{
    position: absolute;
    content: '';
    width: 20%;
    height: 2px;
    bottom: 10px;
    background-color: black;
}

.container{
    width: 80vw;
    background-color:white;
    border-radius: 5px;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    filter: drop-shadow(3px 3px 3px rgb(121, 121, 121));
}

.staff-img-container{
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 50%;
    background-color: var(--col-accent);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(4px -3px 0 var(--col-primary));
    background-size: contain;
}

.staff-info{
    text-align: center;
    margin:2rem;
}

.staff-name{
    font-family: var(--ff-nautigal);
    font-size: 1.5rem;
    font-weight: var(--fw-400);
}

.staff-team{
    font-family: var(--ff-mukta);
    font-size: .8rem;
    color:var(--col-accent)
}

.staff-description{
    font-family: var(--ff-mukta);
    font-size: .9rem;
}

.controls{
    display: flex;
    width: min-content;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--col-accent);
    cursor: pointer;
    font-size: 1.5rem;
}

i:hover{
    color:var(--col-primary);
}

.btn-container{
    width: max-content;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.generate-btn{
    font-family: var(--ff-mukta);
    font-variant: small-caps;
    background-color: white;
    border: 2px solid var(--col-accent);
    padding: .5em;
    border-radius: 5px;
    color: var(--col-accent);
    transition: background-color .25s ease-in, color .25s ease-in;
    cursor: pointer;
}

.generate-btn:hover{
    color: white;
    background-color: var(--col-primary);
}




